/*
    ====================================

    Assignment:
    Name: Sarah Pasquale
        
    FileName: styles.css
    Last updated: 12/8/2024

    ====================================
*/

/* General */

body {
    /* background-image: linear-gradient(to right bottom, #023A47, #07AAD1);
    background-size: cover; */
    background-image: url(images/background-blue-magenta-gradient.jpg);
    background-size: cover;
    margin: 0;
    min-height: 100vh;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    color: #02303B;
}


/* Header */

header {
    background-color: #02323D;
}

h1, h2, h3 {
    text-align: center;
}

h2, h3 {
    color: #02303B;
}

h1 {
    padding: 10px 0;
    color: #FFF0E6;
    font-family: "Homemade Apple", cursive;
    font-size: 30pt;
}

h2 {
    margin: 0 0 50px 0;
    padding: 0;
    font-size: 20pt;
}

h4 {
    font-weight: normal;
}

#nav-menu ul {
    display: -webkit-flex;
    display: flex;
    padding-inline-start: 0;
    width: 100%;
    margin: auto;
    background-color: rgba(255, 240, 230, 0.9);
    list-style-type: none;
}

#nav-menu li {
    -webkit-flex: 4 1 300px;
    flex: 4 1 300px;
    padding: 10px 0;
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
}

#nav-menu a {
    color: #02303B;
    font-size: 13pt;
    font-weight: bold;
    text-decoration: none;
}

#menu {
    display: none;
}

#icon {
    width: 30px;
}


/* Pages - Shared Content */

.tables_form {
    width: 50%;
    margin: 60px auto;
    padding: 50px;
    background-color: rgba(255, 240, 230, 0.95);
    box-shadow: 0 0 3px 3px #02323D;
    border-radius: 15px;
}

.tables_form th {
    font-size: 20pt;
}

.table-cell p {
    margin: 0;
    text-align: left;
}

.table-line1 {
    display: inline;
    font-size: 13pt;
}

.table-line1 td {
    padding: 50px 0 0 0;
}

.institution {
    font-weight: bold;
}

.title {
    font-style: italic;
}

.table-timeRange td {
    padding: 15px 0;
}

.dateRange {
    font-size: 10.5pt;
    color: #4F727D;
}


/* Index/Intro */

#index-main {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    margin: 45px auto;
}

#index-main h2 {
    color: #FFF0E6;
}

#index-content {
    display: -webkit-flex;
    display: flex;
    width: 67%;
    margin: auto;
    padding: 40px 20px;
    background-image: linear-gradient(to top right, rgba(120, 37, 73, 0.8), rgba(43, 91, 127, 0.8));
    background-color: rgba(255, 240, 230, 0.95);
    border-radius: 10px;
    box-shadow: 0 0 3px 3px #FFF0E6;
}

#index-photo {
    margin: auto 20px;
}

#index-text {
    margin: auto 20px; /* NOTE TO SELF: The auto is what finally allowed me to vertically center. Parent div must have display: flex */
    padding: 55px;
    background-color: rgba(255, 240, 230, 0.95);
    box-shadow: 0 0 2px 2px #02323D;
    border-radius: 30px;
}

#photo {
    border-radius: 10px;
    box-shadow: 0 0 2px 2px #02323D;
    width: 300px
}


/* Education */

#coursework-pending {
    margin-bottom: 0;
}


/* Contact */

form {
    text-align: center;
}

.form-item {
    margin: 25px auto;
    width: 85%;
    text-align: left;
}

.form-itemLabel {
    font-weight: bold;
}

.form-field {
    margin: 8px auto;
    width: 80%;
    height: 30px;
    border: solid 1px #02303B;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px #05748F;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    color: #02303B;
}

#firstName, #lastName {
    width: 100%;
}

#phone, #email {
    width: 50%;
}

#message {
    width: 100%;
    height: 80px;
}

#form-button {
    margin: 20px auto;
    padding: 20px;
    padding-block: 0;
    padding-inline: 0;
    width: 12%;
    height: 35px;
    background-color: #8C2B5A;
    font-size: 12pt;
    font-weight: bold;
    color: #FFF0E6;
    border: outset 2px #330F21;
    border-radius: 5px;
    cursor: pointer;
}


/* Thank-You */

#thank-you-msg {
    margin: auto;
    text-align: center;
}

#thank-you-msg p {
    margin-top: 30px;
}


/* Responsive Styling */

@media screen and (max-width: 1400px) {

    .table-line1 td {
        display: block;
    }

    .table-cell.city-state, .table-cell.title {
        padding: 5px 0;
    }
}

@media screen and (max-width: 1150px) {
    
    #index-content {
        display: block;
    }

    #index-photo {
        margin: 20px;
        text-align: center;
    }

}

@media screen and (max-width: 800px) {

    #nav-menu a {
        padding: 20px 0;
    }

    #nav-menu ul {
        display: none;
    }

    #nav-menu li {
        padding: 10px 0;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }

    #menu:hover+ul, #nav-menu ul:hover {
        display: block;
    }

    #menu {
        display: block;
        text-align: center;
        background-color: rgba(255, 240, 230, 0.9);
    }
    
    .tables_form {
        min-width: 70%;
    }

    #form-button {
       width: 75px;
    }

}

@media screen and (max-width: 600px) {
    
    #photo {
       width: 85%;
    }

}